#floating-icon{
    display: flex;
    background-color: rgb(18, 187, 97);
    width: 30px;
    height: 30px;
    /* padding-left: 10px; */
    border-radius: 40px;
    color: white;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    animation-name: example;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
#floating-title{
    display: none;
    margin-left: 10px;
    z-index: 1;
}
#icon-close{
    display: none;
}
.menu-icon{
    padding: 2px;
    border-radius: 50%;
    background-color: rgba(18, 187, 97, 0.827);
    cursor: pointer;
    border: 1px solid white;
}
.projects-scroll-view{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 300px;
    overflow-y: scroll;
    justify-content:flex-start;
    align-items: center;
    padding-bottom: 20px;
    bottom: 30px;
    /* z-index: -1; */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.898);
    border: 2px solid rgba(18, 187, 97, 0.827);
    border-bottom: 0;
}
.projects-scroll-view::-webkit-scrollbar{
    display: block;
}

.project_show_box{
    width: fit-content;
    margin: 10px;
    text-align: center;
    color: black;
}
.project_thumbnail_img{
    height: 30px;
    border: 1px solid green;
    border-radius: 10px;
}
.project_thumbnail_img:hover{
    border-radius: 5px;
    cursor: pointer;
}
.project_name{
    text-align: center;
    font-size: 12px;
}


@keyframes example {
    from {
        width: 30px; 
    }
    to {
        width: 110px;
    }
}