*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content:center;
    background-color: rgba(18, 187, 97, 0.827);
    padding: 10px 0;
    color: rgb(255, 255, 255);
    font-style: bold;
}
.cloned_projects{
    display: flex;
    justify-content: center;
}
.project_show_box{
    width: fit-content;
    margin: 10px;
    text-align: center;
}

.project_thumbnail_img{
    height: 100px;
    border: 1px solid green;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.project_thumbnail_img:hover{
    border-radius: 0px;
    cursor: pointer;
}
.project_name{
    text-align: center;
}
