body{
    background-color: rgb(36, 230, 104);
    display: flex;
    justify-content: center;
}
.product{
    margin-top: 5vh;
    height: 560px;
    width: 600px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
}
.product__photo{
    background-color: rgb(50, 220, 70);
    width: 280px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: -40px;
}
.photo-container{
    display: flex;
    flex-direction: column;
}
.photo-main img{
    margin-left: -70px;
}
.controls{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: white;
}
.photo-album{
    background-color: rgb(237, 231, 231);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.photo-album ul{
    display: flex;
    padding-right: 20px;
    align-items: center;
}
.photo-album ul li{
    list-style-type: none;
}
.photo-album ul li{
    background-color: white;
    border: 2px solid rgb(216, 215, 215);
    border-radius: 5px;
    height: 50px;
    width: 50px;
    margin: 1.5px;
    text-align: center;
}
.photo-album ul li img{
    height: 45px;
}

.product__info{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.title{
}
.title h1{
    margin-bottom: 4px;
    color: rgb(54, 54, 53);
}
.title span{
    color: rgb(162, 162, 162);
}

.price{
    color: red;
    margin-top: 25px;
}
.price span{
    font-size: 43px;
}
.variant h3{
    color: rgb(162, 159, 155);
    font-size: 15px;
    margin-top: 30px;
}
.variant ul{
    display: flex;
}
.variant .active{
    background-color: white;
    border: 2px solid rgb(216, 215, 215);
    border-radius: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
    margin-top: -2px;
}
.variant ul li{
    list-style-type: none;
    margin: 2px;
}
.variant ul li img{
    height: 45px;
}
.description h3{
    color: rgb(162, 159, 155);
    font-size: 15px;
    margin-top: -5px;
}
.buy--btn{
    background-color: rgba(255, 42, 0, 0.972);
    padding: 10px 20px;
    width: 180px;
    border: none;
    border-radius: 5px;
    color: white;
}

@media screen and (max-width : 768px){
    body{
        zoom: 42%;
        padding-top: 50vh;
    }
}
@media screen and (min-width : 768px){
    body{
        zoom: 100%;
        padding: 0vh;
    }
}