*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
.top_right_links{
    height: 50px;
    display: flex;
    width: max-content;
    align-items: center;
    align-self: end;
    margin-top: 10px;
}
.top_right_links a{
    text-decoration: none;
    margin: 0px 10px;
    color: rgba(0,0,0,.87);
}
.top_right_links a:hover{
    text-decoration: underline;
}
.sign_in{
    background-color: #1a73e8;
    border: 1px solid transparent;
    padding: 9px 23px;
    width: 48px;
    height: 16px;
    border-radius: 4px;
    color: white !important;
}
.material-symbols-outlined:hover{
    text-decoration: none !important;
}
.sign_in:hover{
    text-decoration: none !important;
}
.center_space{
    width: 100vw;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_items{
    display: flex;
    /* background-color: green; */
    width: 620px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -10vh;
}
.input_contents{
    display: flex;
    background-color: white;
    height: 44px;
    width: 100%;
    z-index: 3;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    justify-content: center;
    align-items: center;

}
.input_contents:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}
.material-symbols-outlined{
    text-decoration: none;
    color: #9aa0a6;
    height: 22px;
    width: 22px;

}
.input_box{
    width: 88%;
    height: 90%;
    color: rgba(0,0,0,.87);
    padding-left: 10px;
    outline: none;
    border: none;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
}
.search_buttons{
    margin-top: 20px;
    height: 36px;
}
.search_buttons a{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    text-decoration: none;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 8px 16px;
    height: 100%;
    min-width: 54px;
    text-align: center;
    user-select: none;
}
.search_buttons a:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.languages{
    color: rgba(0,0,0,.87);
    margin-top: 10px;
}
.languages a{
    text-decoration: none;
    margin: 0 3px;
    font-size: 13px;
}
.languages a:hover{
    text-decoration: underline;
}


.footer{
    display: flex;
    border-top: 1px solid #dfe1e5;
    height: 50px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}
.footer a{
    color: #70757a;
    text-decoration: none;
    margin: 0px 10px;
}
.footer a:hover{
    text-decoration: underline;
}

